@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap');
body{
    background-color: rgb(213, 243, 248);
    font-weight: 500;
}
.header{
    height: 80px;
    background-color:#1C2B35;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 140px;
    padding-right: 140px;
}

.header a{
    font-family: 'Baloo Bhai 2', cursive;
    color: white;
    text-decoration: none;
    font-size: 17px;
    margin-left: 36px;
}

.header a:hover{
    color: orange;
}